.jumbotron {
    background-color: #e2edff;
    padding-top: 2rem;
}

#sosmed {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

#projects a {
    text-decoration: none;
}

.nav-item:hover a {
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
}



@media screen and (max-width: 992px) {
    .nav-item:hover a {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

}